torch >= 1.12
torchvision
functorch
tensorboardx
scikit-image
imageio
opt_einsum
tqdm
gpytorch
https://github.com/odlgroup/odl/archive/master.zip
# astra-toolbox >= 2.0.0  # not available through pip, use "conda install -c astra-toolbox astra-toolbox"
